
.top-galeri{
    display: flex;
    position: relative;
    width: 100%;
    height: 100px;
}

#titulo-galeri{
    flex: 50%;
    height: auto;
    text-align:center;
}
#titulo-galeri h2{
    margin-bottom: 1%;
    position: absolute;
    right: 55%;
    bottom: 0;
    font-size:2vw; /*Tamanho de fonte ajustavel de acordo com o tamanho do box*/   
}
#btn-isc{
    position: absolute;
    bottom: 0;
    width: 20%;
    height: auto;
}
#btn-isc:hover{
    width: 21%;
}
#btn-iniciar{
    flex: 50%;
    height: auto;
}
.conteiner {
   display: flex;
   width: 100%;
   height: auto;
  
}
.box-esq{
    width: 15%;
    height: auto;
    text-align: right;
   
    
}
.box-dir{
    text-align:left;
    width: 15%;
    height: auto;
   
    
}
.box-meio{
    text-align: center;
    width: 70%;
    height: auto;
}

#btn-next{
    padding-top: 80%;
    width: 50%;
    height: auto;
    position: relative;

}
#btn-next:hover{
    width: 52%;
    height: auto;
}
#btn-back{
    padding-top: 80%;
    width: 50%;
    height: auto;
    position: relative;

}
#btn-back:hover{
    width: 52%;
    height: auto;
}
 #idImg{
    border: solid;
    border-radius: 1%;
    border-color: #333333;
    width: 98%;
    margin:1%;
    height: auto;
 }




