table{
    background-color: #0070c0;
    margin-left:-0.6%;
    padding: 10px;
    width: 100%;
    
}

td{
    padding: 1%;
    border-style: solid;
    border-color:  #92d050;
    border-width: 2px;
    borde
}