
.conteiner-boxs{
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: nowrap;
  
}
.box-logo{

  width: 25%;
  height: 100%;
  text-align: center;
}
.box-logo img{
  width: 40%;
  padding: 1%;
  height: auto;
}
.box-titulo{
  padding-top: 2%;
  text-align: center;
  font-size: 2vw;
  width: 50%;
  
}
.box-logo2{
  padding-top: 3%;
  text-align: center;
  width: 25%;
 

}
.box-logo2 img{
  width: 65%;
  height: auto;
}


.Geral ul {
    width: 100vw;
    list-style-type: none;
    padding:0%;
    overflow: hidden;
    background-color: #0070c0;
  }
  
 .Geral li {
    float: left;
  }
  
 .Geral li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    font-size: 1.3vw;
    font-size: 1.3vmax; 
  }
  
  .Geral li a:hover {
    background-color: #92d050;
}

