#logo1{
  height: 160px;
  width: 200px;
  float: left;
  margin: 0;
  
}
#logo2{
  margin: 30px;
  height: 100px;
  width: 200px;
  float: right;
}
#titulo{
  text-justify: auto;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: 25px;
}




ul {
    width: 100%;
    list-style-type: none;
    padding:0%;
    overflow: hidden;
    background-color: #0070c0;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none; 
  }
  
  li a:hover {
    background-color: #92d050;
}

