/*
#logo1{
  height: auto;
  width: 200px;
  float: left;
  padding-top:10px;
  padding-left: 10px;
  
}
#logo2{
  padding-top:50px;
  padding-right: 50px;
  height: auto;
  width: 200px;
  float: right;
}
#titulo{
  text-align: justify;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: 2vw;
} 
*/
.conteiner-boxs{
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: nowrap;
  
}
.box-logo{

  width: 25%;
  height: 100%;
  text-align: center;
}
.box-logo img{
  width: 40%;
  padding: 1%;
  height: auto;
}
.box-titulo{
  padding-top: 2%;
  text-align: center;
  font-size: 2vw;
  width: 50%;
  
}
.box-logo2{
  padding-top: 2%;
  text-align: center;
  width: 25%;
 

}
.box-logo2 img{
  width: 70%;
  height: auto;
}


.Geral ul {
    width: 100%;
    list-style-type: none;
    padding:0%;
    overflow: hidden;
    background-color: #0070c0;
  }
  
 .Geral li {
    float: left;
  }
  
 .Geral li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none; 
  }
  
  .Geral li a:hover {
    background-color: #92d050;
}

