.conteiner{
    margin: 0;
    display: flex;
    flex-direction: column;
    padding-bottom: 0;

}
.box-esq{
    width: 100%;
    height: auto;
    background-color:#92d050;
}
.box-dir{
    text-align: center;
    width: 100%;
    height:auto;
    background-color: #92d050;

}
.box-dir video{
    position: relative;
    width: 70vw;
    height: auto;
    
}
.box-esq p{
    width: 100%;
    height: auto;
    text-align: justify;
    font-size: 1.4vmax;
}
.area-textual{
    margin-top: 1%;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 1%;
}