*{
    margin: 0;  padding: 0; /*Redefinem esses elementos da página toda*/
    box-sizing: border-box;/*Permite utilizar padding e border nos elementos width e height*/
    font-family: 'Lato', sans-serif;/*Define a fonte*/
    color: #323232; /*Determina a cor da letra*/
    border: none; /*Reseta e anula a existencia ou configurações de bordas nesse elemento*/
    background-color: #0ff271; /*Especifica o fundo*/
}
body{
    background-color: #0ff271; /*Especifica o fundo*/
    font-family: 'Lato', sans-serif; /*Determina qual vai ser a fonte utilizada*/
    padding-top: 40px; /*Distancia os elementos da margem superior*/
}

.form {
    width: 500px; /*Determine a largura da área*/
    margin: auto; /*Determina a margin automaticamente*/
    border-radius: 10px; /*Define a curvatura das bordas*/
    background-color: #fff; /*Especifica a cor de fundo desse elemento*/
}
.card{
    background-color: #fff; /*Cria um fundo branco*/
    padding: 30px; /*Define a distcia entre os elemntos com a margem do mesmo*/
    border-radius: 10px; /*Define o arredondamento das bordas*/
}
/* #0ff271 */
h2{background-color: #fff; color: #09a94f;} /*Define o fundo e a cor da letra*/
.card-top {
    background-color: #fff; /*Especifica o fundo*/
    text-align: center; /*Alinha o texto no centro desse elemento*/
}
.card-group{
    margin-bottom: 10px; /*Determina a dintância entre os elementos à 10 pixels da margem inferior*/
    background-color: #fff; /*Determina a cor de fundo*/
     
}
.card-group > label{
    width: 100%; /*Define a largura da área em questão*/
    color: #323232; /*Especifica a cor das letras*/
    display: block; /*Define uma caixa na área*/
    background-color: #fff; /*Determina a cor de fundo*/
    font-weight: bold;
}
.card-group > input{
    border-bottom: 2px solid #323232; /*Define a borda inferior*/
    outline: 0; /*Configura mais de uma propriedade de contorno*/
    width: 100%; /*Determina toda área para ela*/
    height: 25px; /*Determina a altura*/
    padding: 10px; /*Cria um espaçõ em volta*/
    margin-bottom: 40px; /*Margem inferior*/
    font-size: .9rem; /*Especifica o tamanho da fonte*/
    background-color: #fff; /*Define a cor de fundo*/
}
.card-group input:focus{
    border-color:#0ff271; /*Define a cor da margem no momento em que receb foco*/
}
.card-group > button{
    background-color: #09a94f; /*Define a cor de fundo*/
    width: 100%; /*Determina o tamanho*/
    border-radius: 30px; /*Especifica a curvatura da borda*/
    padding: 15px; /*determina o espaço em volta das letras*/
    color: #fff; /*Define a cor das letras */
    border: 0px; /*Define o tamanho da borda*/
    outline: 0; /*Reseta as propriedades de contorno*/ 
    
    cursor: pointer;/*Possibilita que o mouse mude para a forma da mão*/ 
}

.imglogin{ 
    width: 80px; /**/
}
title{
    color:#ccc; /*Define a cor da letra*/
}
.btn2 a{
    text-decoration: none; /**/
    background-color: #0070c0; /**/
    color: #fff; /**/
}

#footer{
    width:100%;
    height: 60px;
    position:relative;
    background-color: #fff;
}
#footer ul{
    list-style-type: none;
}
#footer ul li{
    background-color: #fff;
    float: left;
}
#footer ul li img {
    width:50px;
    height: auto;
    background-color: #fff;
    cursor:pointer;
    
}
#footer ul li img:hover{
    width:52px;
    height: auto;
    cursor:pointer;
}
#btn-login{
    font-size: 18px;
    font-weight: 300;
}